body {
  font-family: "Segoe UI", sans-serif;
  width: 280px;
  text-align: center;
  padding: 10px;
  background: #f9f9f9;
}

#logo {
  width: 60px;
  margin-top: 10px;
}

#analyzeBtn {
  background: #4CAF50;
  border: none;
  color: white;
  padding: 8px 15px;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}

#analyzeBtn:hover {
  background: #43A047;
}

#result {
  margin-top: 10px;
  font-weight: 600;
}
